@model IEnumerable<FarmManager.Models.Produse>

@{
    ViewData["Title"] = "Index";
}

<h1>Produse</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PretKg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-primary">
                <td>
                    @Html.DisplayFor(modelItem => item.Produs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PretKg)
                </td>
                <td>
                    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>