@model FarmManager.Models.Order

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdClientNavigation.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdClientNavigation.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdProdusNavigation.Produs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdProdusNavigation.Produs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cantitate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cantitate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ridicat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ridicat)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class=" btn btn-outline-danger" />
        <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
    </form>
</div>