@model FarmManager.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdClientNavigation.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdClientNavigation.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdProdusNavigation.Produs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdProdusNavigation.Produs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cantitate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cantitate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ridicat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ridicat)
        </dd>
    </dl>
</div>
<div>
</div>
<div>
    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
</div>